body {
    background-color: black;
}

    
.h2-my{
    color:white;
    text-transform: uppercase;
    line-height: 52px;
    margin-bottom: 0px;

}
.table{
    
    margin-top: 0px;
    background-color: white;
    padding-top: 0px;

}
#dashwlcm{
    color:white;
    width:inherit;
    margin-left: 0px;
}
input {
    margin-left: 20px;
    padding: 2px;
}
.btn {
    margin-left: 15px;
}
label {
    font-weight: bold;
}