<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style/event-manager-style.css">
   <script>
    function dologout(){
      localStorage.removeItem("activeuser");
      location.href="index.html";
    }


    //=============

  </script>
   
   
   <script>
        $(document).ready(function()
      {
        
    
            if(localStorage.getItem("activeuser")==null)
            {
              location.href="index.html";
              return;
            }
                  let active=localStorage.getItem("activeuser");
                  $("#emailid").val(active).prop("readonly",true);
                  $("#dashwlcm").html("&#x1F389; welcome:"+active);
      });
</script>   

 <script>
 var module=angular.module("myModule",[]);
 var controller=module.controller("myController",function($scope,$http){
    $scope.jsonArrayEvents=[];
    $scope.filleventDetails=function(emailid){
        //let emailid=localStorage.getItem("activeuser");
       // let emailid=localStorage.getItem("activeuser");
        let url="/fetch-events-data?emailid="+emailid;
        $http.get(url).then(function(response){
            alert(response.data);
            $scope.jsonArrayEvents=response.data;
        },function(err){
            alert(err)
        }
    ) };

    //=================
    $scope.doDelete=function(emailid){
        let url="/delete-events-data?emailid="+emailid;
        $http.get(url).then(function(response){
            alert(response.data);
            $scope.jsonArrayEvents=response.data;
            $scope.filleventDetails();
        },function(err){
            alert(err)
        })
    }
    
    
 })
    
</script> 

</head>
<body ng-app="myModule" ng-controller="myController" ng-init="filleventDetails(emailid);">
    <div class="container-md bg-dark">
        <nav class="navbar navbar-expand-lg mynav bg-dark border-bottom border-body sticky-top " data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="./pics/chart_3166485.png" alt="Bootstrap" width="30" height="24">
              </a>
              <a class="navbar-brand" href="#syncsphere"><h2>SyncSphere.com</h2></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <form class="d-flex" role="search">
              <button class="btn btn-light " type="button" style="margin-left:10px" 
              value="LogOut" onclick="dologout();">LogOut</button>
                </form>
              </div>
            </div>
          </nav>
         
       
         
         <h2 class="text-center h2-my bg-dark">EVENTS DETAILS</h2>
         <center> <span id="dashwlcm" class="text-center" >* </span></center>
         <div class="row mt-4">
        <div class="col-md-2 ">
          <br>
          <label for="inputEmail" class="form-label label ">Your Email :</label></div>
          <div class="col-md-6 ">
          <input type="email" class="form-control input" id="emailid" ng-model="emailid">
        </div></div>
        <br>
        <table class="table bg-dark text-center" width="700" border="1" rules="all">
            <tr>
                <th>Sr No.</th>
                <th>Email Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>City</th>
                <th>Venue</th>
                <th></th>
            </tr>
            <tr ng-repeat="obj in jsonArrayEvents">
                <td>{{$index+1}}</td>
                <td>{{obj.emailid}}</td>
                <td>{{obj.events}}</td>
                <td>{{obj.doe}}</td>
                <td>{{obj.tos}}</td>
                <td>{{obj.city}}</td>
                <td>{{obj.venue}}</td>
                <td><button type="button" class="btn btn-dark" ng-click="doDelete(obj.emailid);">Delete</button></td>
            </tr>
        </table>
      


        <div class="container-md  text-center">
          <div class="row bg-dark ftr">
            <div class="col-md-6 bg-dark">
              <br>
              <div class="row">
              <div class="col-md-2">
                <i class="fa-solid fa-location-crosshairs"></i>
              </div>
              <div class="col-md-4">
              <p> BCE Bathinda</p></div></div>
              <div class="row">
                <div class="col-md-2">
                  <i class="fa-solid fa-phone"></i>
                </div>
                <div class="col-md-4">
                <p>+915678898765</p></div></div>
                <div class="row">
                  <div class="col-md-2">
                    <i class="fa-regular fa-envelope"></i>
                  </div>
                  <div class="col-md-4">
                  <p> <a href="#synsphere">syncsphere@mail.com</a></p></div></div>
            </div>
            <div class="col-md-6">
              <br>
              <h4>About The Company</h4> 
              <p class="text-center">Our project facilitates the right connections, ensuring that each event reaches its full potential by bringing together the necessary elements seamlessly.</p>
            </div>
          </div>
          <div class="row bg-dark ftr">
            <div class="col-md-12">
              <p>&copy; www.SyncSphere.com All rights reserved.</p>
            </div>
          </div>
        </div>
</div>
</div>
        
  
    
</body>
</html>

 <!-- <div class="col-md-4"> 
          <br>
            <button type="button" class="btn btn-primary" ng-click="filleventDetails(emailid);">Fetch</button>
        </div> -->
  
        


<!-- 
        
//     //==================events manager
// app.get("/fetch-events-data",function(req,resp){
//     console.log(req.query.doe);
//     let emailid=req.query.emailid;
//     mysql.query("select * from events where doe>=current_date()",[req.query.doe],function(err,resultJsonAry){
//         if(err!=null)
//             {
//                 resp.send(err.message);
//                 return;

//             }
//        resp.send(resultJsonAry);
//     })
//     })





//     app.get("/delete-events-data",function(req,resp)
//     {
//         mysql.query("delete from events where emailid=?",[req.query.emailid],function(err,resultJsonAry){
//             if(err!=null)
//                 {
//                     resp.send(err.message);
//                     return;
    
//                 }
//                 resp.send("Deleted");
           
//         })
    
//     }) -->
